.profile #header {
  margin-bottom: 1.4em;
}

.profile h2 {
  font: normal 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

.home img.demo {
  margin-bottom: 3em;
}

.feature-list {
  padding-bottom: 3em;
}

.feature-list li {
  font: normal 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}
